/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type="text"]:focus {
    outline: 0; }

button {
  padding: 0; }
  button:focus {
    outline: 0; }

.flex-container {
  display: flex; }

.flex-item {
  flex: 1; }

.flex-start {
  justify-content: flex-start; }

.flex-center {
  justify-content: center; }

.flex-end {
  justify-content: flex-end; }

.flex-space-between {
  justify-content: space-between; }

.flex-space-around {
  justify-content: space-around; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.item-start {
  align-items: flex-start; }

.item-center {
  align-items: center; }

.item-end {
  align-items: flex-end; }

body {
  min-height: 100vh; }

.animation-wrap {
  position: relative; }
  .animation-wrap .dot {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0; }
    .animation-wrap .dot:after {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      content: ''; }
  .animation-wrap .xaxis-pointer,
  .animation-wrap .yaxis-pointer {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff922b; }
  .animation-wrap .xaxis-pointer {
    bottom: -8px; }
  .animation-wrap .yaxis-pointer {
    left: -8px;
    bottom: 0; }
  .animation-wrap .grid-wrap {
    position: relative;
    width: 100px;
    height: 100px; }
    .animation-wrap .grid-wrap .grid-line,
    .animation-wrap .grid-wrap .grid-line-v {
      position: absolute;
      background-color: #ced4da;
      opacity: 0.5; }
    .animation-wrap .grid-wrap .grid-line {
      width: 100%;
      height: 1px; }
    .animation-wrap .grid-wrap .grid-line-v {
      width: 1px;
      height: 100%; }
    .animation-wrap .grid-wrap .grid-line.line-1 {
      top: 20px; }
    .animation-wrap .grid-wrap .grid-line-v.line-1 {
      left: 20px; }
    .animation-wrap .grid-wrap .grid-line.line-2 {
      top: 40px; }
    .animation-wrap .grid-wrap .grid-line-v.line-2 {
      left: 40px; }
    .animation-wrap .grid-wrap .grid-line.line-3 {
      top: 60px; }
    .animation-wrap .grid-wrap .grid-line-v.line-3 {
      left: 60px; }
    .animation-wrap .grid-wrap .grid-line.line-4 {
      top: 80px; }
    .animation-wrap .grid-wrap .grid-line-v.line-4 {
      left: 80px; }
    .animation-wrap .grid-wrap .grid-line.line-5 {
      top: 100px; }
    .animation-wrap .grid-wrap .grid-line-v.line-5 {
      left: 100px; }
  .animation-wrap .title {
    position: absolute;
    bottom: -40px;
    color: #868e96;
    font-size: 13px;
    letter-spacing: -.025em; }

.animation-wrap ~ .animation-wrap {
  margin-left: 30px; }

.animation-wrap.default .dot {
  animation: xAxis-default 2s infinite cubic-bezier(0.02, 0.01, 0.21, 1); }
  .animation-wrap.default .dot:after {
    animation: yAxis-default 2s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
    background-color: #212529; }
.animation-wrap.default .xaxis-pointer {
  animation: xAxis-default 2s infinite cubic-bezier(0.02, 0.01, 0.21, 1); }
.animation-wrap.default .yaxis-pointer {
  animation: yAxis-default 2s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64); }
@keyframes xAxis-default {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateX(80px); } }
@keyframes yAxis-default {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateY(-80px); } }
.animation-wrap.ease-io .dot {
  animation: xAxis-io 2s infinite ease-in; }
  .animation-wrap.ease-io .dot:after {
    animation: yAxis-io 2s infinite ease-out;
    background-color: #ff6b6b; }
.animation-wrap.ease-io .xaxis-pointer {
  animation: xAxis-io 2s infinite ease-in; }
.animation-wrap.ease-io .yaxis-pointer {
  animation: yAxis-io 2s infinite ease-out; }
@keyframes xAxis-io {
  50% {
    animation-timing-function: ease-out;
    transform: translateX(80px); } }
@keyframes yAxis-io {
  50% {
    animation-timing-function: ease-in;
    transform: translateY(-80px); } }
.animation-wrap.ease-oi .dot {
  animation: xAxis-oi 2s infinite ease-out; }
  .animation-wrap.ease-oi .dot:after {
    animation: yAxis-oi 2s infinite ease-in;
    background-color: #f06595; }
.animation-wrap.ease-oi .xaxis-pointer {
  animation: xAxis-oi 2s infinite ease-out; }
.animation-wrap.ease-oi .yaxis-pointer {
  animation: yAxis-oi 2s infinite ease-in; }
@keyframes xAxis-oi {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(80px); } }
@keyframes yAxis-oi {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-80px); } }
.animation-wrap.ease-c .dot {
  animation: xAxis-c 2s infinite cubic-bezier(0, 0.5, 0.5, 0); }
  .animation-wrap.ease-c .dot:after {
    animation: yAxis-c 2s infinite ease-out;
    background-color: #cc5de8; }
.animation-wrap.ease-c .xaxis-pointer {
  animation: xAxis-c 2s infinite cubic-bezier(0, 0.5, 0.5, 0); }
.animation-wrap.ease-c .yaxis-pointer {
  animation: yAxis-c 2s infinite ease-out; }
@keyframes xAxis-c {
  50% {
    animation-timing-function: ease-out;
    transform: translateX(80px); } }
@keyframes yAxis-c {
  50% {
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 0);
    transform: translateY(-80px); } }

/*# sourceMappingURL=style.css.map */
